.ggtips-plot {
  position: relative;
}
.ggtips-tooltip {
  position: absolute;
  float: left;
  display: none;
  pointer-events: none;
  white-space: nowrap;
}
.ggtips-tooltip ul {
  background: var(--background, black);
  color: var(--color, white);
  list-style: none;
  margin: 0;
  padding: 5px;
  line-height: 1.1em;
  border-radius: 5px;
  border: solid 1px;
}
/* TODO: check if this works, then remove */
/*
.shiny-html-output.show-tooltip {
  overflow: hidden;
}
*/
.shiny-html-output.ggtips-show-tooltip .ggtips-tooltip {
  display: block;
  white-space: pre;
}

.ggtips-tooltip:after,
.ggtips-tooltip:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.ggtips-tooltip:not(.ggtips-tooltip-right):after {
    border-right-color: var(--background, black);
    border-width: 6px;
    left: -11px;
}
.ggtips-tooltip:not(.ggtips-tooltip-right):before {
    border-right-color: var(--color, white);
    border-width: 7px;
    left: -13px;
}

.ggtips-tooltip.ggtips-tooltip-right:after {
    border-left-color: var(--background, black);
    border-width: 6px;
    right: -11px;
}
.ggtips-tooltip.ggtips-tooltip-right:before {
    border-left-color: var(--color, white);
    border-width: 7px;
    right: -13px;
}
